version: "3"

services:
  telegram-bot:
    container_name: telegram-bot
    build:
      context: telegram-bot
      dockerfile: Dockerfile
      args:
        APITOKEN: ${APITOKEN}
        EXTRA_INDEX_URL: ${EXTRA_INDEX_URL}
        ES_HOST: elastic

    depends_on:
      elastic:
        condition: service_healthy
    links:
      - elastic

  kibana:
    container_name: kibana
    image: docker.elastic.co/kibana/kibana:8.8.1
    environment:
      ELASTICSEARCH_HOSTS: http://elastic:9200

    depends_on:
      elastic:
        condition: service_healthy

    links:
      - elastic
    ports:
      - 127.0.0.1:5601:5601


  elastic:
    container_name: elastic
    image: docker.elastic.co/elasticsearch/elasticsearch:8.8.1
    volumes:
      - ./elastic/elastic.data:/var/lib/elasticsearch
      - ./elastic/elastic.logs:/var/log/elasticsearch
      - ./elastic/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro
      - ./elastic/jvm.options:/usr/share/elasticsearch/config/jvm.options.d/jvm.options:ro
    ports:
      - 127.0.0.1:9200:9200

    healthcheck:
      test: curl localhost:9200/
      interval: 10s
